.country{
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    color: black;
}
.visited{
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
    color: black;
}
.going{
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
}
button{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: orange;
    font-size: 1rem;
    
}
button:hover{
    background-color: gray;
    color: white;
    
}
